.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0%;
    transition: opacity 0.5s;

}

.overlay:hover {
    opacity: 100%;
    transition: opacity 0.5s;
}

.portfolio-link {
    color: #e5dbbc;
    transition: color 0.3s;
}

.portfolio-link:hover {
    color: #aeb3d3;
    transition: color 0.3s;
}

.portfolio-desc {
    color: #bab29b

}
